body{
background:#070B34;
font-family:Inter;
margin:40px;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-weight:600;
font-size:18px;
}

.units{
background:#1a2064;
color:white;
border:none;
padding:8px;
border-radius:6px;
}

h1{
text-align:center;
margin-top:40px;
}


.search{
display:flex;
justify-content:center;
gap:10px;
margin-top:20px;
}

.search input{
width:350px;
padding:12px;
border-radius:8px;
border:none;
background:#1a2064;
color:white;
}

.search button{
padding:12px 20px;
border:none;
border-radius:8px;
background:#4e63ff;
color:white;
cursor:pointer;
}


.layout{
margin-top:40px;
display:grid;
grid-template-columns:2fr 1fr;
grid-template-areas: "main hourly" "stats hourly" "daily hourly";
gap:30px;
}

.card-main{
    grid-area: main;
}

.stats{
    grid-area: stats;
}

.daily{
    grid-area: daily;
}

.hourly{
    grid-area: hourly;
}

.card-main{
background:linear-gradient(135deg,#5c6cff,#6f7bff);
padding:30px;
border-radius:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.temperature{
font-size:48px;
font-weight:600;
}



.stats{
display:flex;
gap:20px;
margin-top:20px;
}

.box{
background:#1a2064;
padding:20px;
border-radius:12px;
width:120px;
text-align:center;
}



.daily{
margin-top:30px;
}

.days{
display:flex;
gap:15px;
margin-top:10px;
}

.day{
background:#1a2064;
padding:15px;
border-radius:10px;
text-align:center;
width:70px;
}



.hourly{
background:#1a2064;
padding:20px;
border-radius:15px;
height:500px;
}

.hourly-header{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.hour{
padding:10px;
border-bottom:1px solid rgba(255,255,255,0.1);
}

.hourly select{
    background:#8085be;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
    outline:none;
}