h1{
    color:#FFFFFF;
    font-family: inter;
}

#principal{
    display: flex;
    justify-content: center;
}

body{
    background-color: #070B34;
}
.logo{
    font-weight:600;
    font-size:18px;
}
section{
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container{
display:flex;
justify-content:center;
gap:30px;
}

#yes{
    display: flex;
    flex-direction: column;
}
nav{
    color: #FFFFFF;
    font-family: inter;
    justify-content: space-between;
    display: flex;
}

.procurar{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.units{
    background-color: #1a2064;
    border-radius: 5px;
    color: #FFFFFF;
}

.wind{
    width: 70px;
    display: flex;
    flex-direction: row;
    background-color: rgb(61, 59, 78);
    color: #FFFFFF;
}

p{
    color: #FFFFFF;
}
div{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(9, 255, 0);
    color: aliceblue;
}
#geral{
    display: flex;
    flex-direction: row ;
    width: 300px;
}